.card{
    width: 41rem;
    background-color: #D9D9D9;
    border-radius: 2rem;
    gap: 4.5rem;
    cursor: pointer;

}

.photo{
    width: 36rem;
    border-radius: 2rem;
    margin: 2.3rem;
}

.title{
    margin: 0 auto;
    width: 23.4rem;
    background-color: white;
    border-radius: 2rem;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}