.search{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 4.8rem;
    width: 22rem;
    height: 5rem;
    background-color: #D9D9D9;
    border-radius: 2rem;
}

.field{
    margin: 0.5rem;
    padding: 0.7rem;
    padding-left: 1rem;
    border: none;
    border-radius: 2rem;
    width: 20rem;
}